body {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
.container {
  background-color: bisque;
  border: 2px black solid;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.relogio {
  height: 30%;
  width: 30%;
  border: 1px black solid;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2rem;
  
  background-color: rgba(127, 151, 171,0.5)
}
.data {
  height: 60%;
  width: 20%;
  border-radius: 0.5rem;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 112, 113,0.5)
}
